/.nuget
/packages
/TestResults
/*.suo
bin
obj
*.user
/*.user
/*.Cache
/StyleCop.Cache
/Vdk.AutoCompleter.Common/*.Cache
/Vdk.AutoCompleter.TestClient/StyleCop.Cache
/Vdk.AutoCompleter.TestCore/*.Cache
/Vdk.AutoCompleter.TestClient/*.user
/Vdk.AutoCompleter.Core/*.user
/CustomTextEncoder/*.user
/Vdk.AutoCompleter.Wcf.Client/*.user
/Vdk.AutoCompleter.Thrift.Server/*.Cache
/Vdk.AutoCompleter.Thrift.Core/StyleCop.Cache
*.Cache
/Vdk.AutoCompleter.Wcf.ServerModule/*.Cache
/Vdk.AutoCompleter.Wcf.Core/*.Cache
/Vdk.AutoCompleter.Wcf.Client/*.Cache
/Vdk.AutoCompleter.Thrift.ServerModule/*.Cache
/Vdk.AutoCompleter.Thrift.ClientModule/*.StyleCop
/Vdk.AutoCompleter.Thrift.Client/*.Cache
/Vdk.AutoCompleter.Wcf.Core/*.user
/Vdk.AutoCompleter.Wcf.Server/*.user
/Vdk.AutoCompleter.Thrift.Server/*.user
/Vdk.AutoCompleter.Thrift.Client/*.user
/Vdk.AutoCompleter.Release/testclient
/Vdk.AutoCompleter.Release/thriftclient
/Vdk.AutoCompleter.Release/thriftserver
/Vdk.AutoCompleter.Release/wcfclient
/Vdk.AutoCompleter.Release/wcfserver
