<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="DefaultBinding">
          <customTextMessageEncoding encoding="us-ascii" />
          <httpTransport />
        </binding>

        <binding name="SecureBinding">
          <customTextMessageEncoding encoding="us-ascii1">
            <readerQuotas maxStringContentLength="1024" />
          </customTextMessageEncoding>
          <security>
            <secureConversationBootstrap />
          </security>
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>

    <extensions>
      <bindingElementExtensions>
        <add name="customTextMessageEncoding" type="Vdk.AutoCompleter.Wcf.Server.Encoders.CustomTextMessageEncodingBindingSection, Vdk.AutoCompleter.Wcf.Server.Encoders.CustomTextMessageEncoder" />
      </bindingElementExtensions>
    </extensions>
  </system.serviceModel>-->
</configuration>