<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IAutoCompleteWcfService">
                    <textMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <tcpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:813/AutoCompleteWcfService" binding="customBinding" bindingConfiguration="CustomBinding_IAutoCompleteWcfService" contract="AutoCompleteWcfService.IAutoCompleteWcfService" name="CustomBinding_IAutoCompleteWcfService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>